/* Star Wars font for h1 */
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('DISTGRG_-webfont.eot');
    src: url('DISTGRG_-webfont.eot?#iefix') format('embedded-opentype'),
         url('DISTGRG_-webfont.woff2') format('woff2'),
         url('DISTGRG_-webfont.woff') format('woff'),
         url('DISTGRG_-webfont.ttf') format('truetype'),
         url('DISTGRG_-webfont.svg#distant_galaxyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}body {
    background-color: black;
    color: white;
    display: flex;
}
.container {
    margin: auto;
    text-align: center;
}
#currentWord {
    /* Adds space between underscores */ 
    letter-spacing: 10px;
}

h1 {
    font-family: 'distant_galaxyregular';
    font-size: 80px;
    color: black;
    /* Adds border/shadow effect in Star Wars yellow */ 
    text-shadow: -1px 0 #ffe919, 0 3px #ffe919, 3px 0 #ffe919, 0 -1px #ffe919;
}